<!doctype html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<meta name="author" content="angoz.github.io">
	<meta name="version" content="1.0">
	<meta name="descripiton" content="{{ site.description }}">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	{% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}

	<link rel="index" title="{{ site.title }}" href="{{ site.url }}" />
	{% if page.previous %}
	<link rel="prev" href="{{ site.url }}{{ page.previous.url }}" title="{{ page.previous.title }}" />
	<link href="{{ site.url }}{{ page.previous.url }}" rel="prerender" />
	{% endif %}
	{% if page.next %}
	<link rel="next" href="{{ site.url }}{{ page.next.url }}" title="{{ page.next.title }}" />
	<link href="{{ site.url }}{{ page.next.url }}" rel="prerender" />
	{% endif %}

	<link rel="stylesheet" href="{% if site.url %}{{ site.url }}{% endif %}/assets/styles/default.css">
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<link rel="stylesheet" href="{% if site.url %}{{ site.url }}{% endif %}/assets/styles/pygments.css">
</head>
<body>
	<div class="conainer">
		{% include sidebar.html %}
		<div class="home_container" id="home_container">
			{{ content }}
		</div>
	</div>
	<script>
		$(function() {
			setTimeout(function() {
				$("img#logo_img_loader").hide();
			}, 1000);
		});
	</script>
</body>
</html>
