---
layout: default
---

<div class="nav_path">
	<!--<a href="#" rel="1">Index</a><a href="#" rel="2">Developer</a><a href="#" rel="3">PHP</a>-->
	<a href="/" rel="nofollow">Index</a><a href="/category/{{ page.categories | first }}" rel="2">{{ page.categories | first }}</a><a href="/tags/{{ page.tags | first }}" rel="3">{{ page.tags | first }}</a>
</div>
<section>
	<header>
		<h2 class="article_title">{{ page.title }}</h2>
		<div class="article_ext"><span>时间：{{ page.date | date_to_string }}</span></div>
	</header>
	<article>
		{{ content }}
	</article>
	<footer>
		<div class="article_ext">
			<span>Permalink: <a href="{% if site.baseurl %}{{ site.baseurl }} {% else %}{{ site.url }}{% endif %}{{ page.url }}" class="external ext" title="{{ page.title }}" rel="share">{% if site.baseurl %}{{ site.baseurl }} {% else %}{{ site.url }}{% endif %}{{ page.url }}</a></span><br>
			{% if page.categories %}<span>Category: {{ page.categories | array_to_sentence_string }}</span><br>{% endif %}
			{% if page.tags != "" %}<span>Tags: {{ page.tags }}</span><br>{% endif %}
		</div>
	</footer>
</section>
<div class="back_top"><a href="#top" title="Top" rel="index"></a></div>

<script src="{{ site.baseurl }}{{ site.webjs }}/post.js"></script>
